body {
    background-color: #5e3b4f; 
    min-height: 100vh;
}

 .buttons {
    display: grid;
    background-color: #9c80c9;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 3px;
    right: 10px;
    border-radius: 5px;
 }
.search {
    padding: 10px;
    top: 100px;
    right: 1px;
    display: flex;
    gap: 10px;
    position: absolute;
   border-radius: 100px;
}


.buttons input {
    background-color: #9c80c9 !important; 
    color: black;                        
    border: 1px solid black;             
    padding: 5px 10px;
    border-radius: 3px;
}
.bookInfo {
left: 375px;
top: 100px;
position: relative;
font-family:Georgia, 'Times New Roman', Times, serif;
}

    
    
    
    
