body {
    background-color: #20344f;
    background-color: #4f558e;
    background-color: #9c80c9;
    background-color: #e7a4b5;
    background-color: #5e3b4f;



}
.buttons {
    color: blueviolet;
}